<div id="dash">
  <form class="create_form">
    <div class="dash_header">
      <h3>DASHBOARD</h3>
      </div>
      <div class="dash_body">
        <h4>create post:</h4>
        <section class="edit_article">
          <li id="adjust">TITLE</li>
          <input id="article_title"></input>
          <li id="adjust">CONTENT</li>
          <textarea id="article_content"></textarea>
          <button id="create"><h3>CREATE POST</h3></button>
        </section>
      </div>
  </form>
</div>
<script src="/js/create.js"></script>

