<div id="dash">
        <div class="dash_header">
          <h3>DASHBOARD</h3>
        </div>
        <div class="dash_body">
          <h4>edit your post:</h4>

          <form class="edit_article">
            <li id="adjust">TITLE</li>
            <input id="article_title">{{article.title}}</input>
            <li id="adjust">CONTENT</li>
            <textarea id="article_content">{{article.content}}</textarea>
            <button type="submit" id="update"><h3>UPDATE</h3></button>
            <button id="delete"><h3>DELETE</h3></button>
          </form>

        </div>
      </div>
      <script src="/js/edit.js"></script>
      <script src="/js/delete.js"></script>