{{#each articles as |article|}}
  <section>
    <div class="title_header">
      <h3>{{title}}</h3>
    </div>
    <div class="content_body">
      <h4>
        {{content}}
      </h4>
      <div class="user_date">
        <h5 id="username">{{article.user.username}}</h5>
        <span>/</span>
        <h5 id="date">{{format_date article.date_created}}</h5>
      </div>
      {{#if logged_in}}
        <form class="new-comment-form">
          <div class="comments">
            <li id="adjust">COMMENT?</li>
            <textarea id="article_content" class="comment_text"></textarea>
            <button id="comment"><h3>SUBMIT</h3></button>
          </div>
        </form>
      {{/if}}

    </div>
  </section>
  <script src="/js/comment.js"></script>
{{/each}}