* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

body {
  background-image: url(/images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  display: block;
  margin: 60pt auto 0 auto;
  width: 100pt;
  text-align: center;
}

#lettermark {
  margin: 25pt auto 25pt 10pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

h1 {
  font-family: "Six Caps", sans-serif;
  font-size: 50pt;
  margin-left: 8px;
  color: rgb(235, 104, 117);
}

h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 25pt;
  color: rgb(33, 33, 33);
}

span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24pt;
  color: rgb(109, 191, 254);
  margin-right: 5px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li {
  padding: 0 25pt;
  font-family: "Teko", sans-serif;
  font-size: 20pt;
  list-style-type: none;
}

#adjust {
  padding-inline: initial;
}

a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

a:hover {
  color: rgb(109, 191, 254);
}

main {
  margin-top: 35pt;
  display: flex;
  flex-direction: column;
}

section {
  align-self: center;
  width: 600px;
  box-shadow: 0 5px 30px rgb(211, 211, 211);
  border-radius: 8pt;
  margin-bottom: 30pt;
}

section:hover {
  box-shadow: 0 5px 30px rgb(171, 171, 171);
}

.title_header {
  background-color: rgb(109, 191, 254);
  padding: 15px 0 10px 20px;
  border-radius: 8pt 8pt 0 0;
}

h3 {
  color: white;
  font-family: "Teko", sans-serif;
  font-size: 20pt;
}

.content_body {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 8pt 8pt;
  padding: 15px 20px 20px 20px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 11pt;
  color: rgb(33, 33, 33);
}

.user_date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 10px;
}

#username {
  margin-right: 8px;
}

h5 {
  color: rgb(235, 104, 117);
  font-family: "Teko", sans-serif;
  font-size: 18pt;
}

input {
  margin-bottom: 25px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 12pt;
  color: rgb(33, 33, 33);
  align-items: top;
  padding-left: 10pt;
}

input:focus {
  outline-color: rgb(109, 191, 254);
}

button {
  margin: 15px 0;
  color: white;
  background-color: rgb(235, 104, 117);
  padding: 5px;
  border: 3px solid transparent;
  width: 200px;
  margin-left: 180px;
}

button:hover {
  border-style: solid;
  border-color: rgb(109, 191, 254);
  border-width: 3px;
  cursor: pointer;
}

#Btn {
  margin-left: -30px;
}

#post {
  margin-left: 0;
}

.dash_header {
  background-color: rgb(109, 191, 254);
  padding: 15pt 20pt 10pt 25pt;
}

.dash_body {
  background-color: white;
  padding: 15pt 20pt 25pt 25pt;
  height: 100%;
}

.dash {
  width: 100%;
}

#article {
  margin: 35pt 0 35pt 0;
}

#create,
#update,
#delete {
  margin: 25pt 0 5pt 0;
  width: 200px;
}

.user_articles {
  margin: 20pt 20pt 20pt 0;
  padding: 10pt 15pt 10pt 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit_article {
  margin: 20pt 20pt 20pt 0;
  padding: 20pt;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 12pt;
  color: rgb(33, 33, 33);
  padding: 10pt;
  resize: none;
  width: 100%;
  height: 100px;
}

textarea:hover,
textarea:enabled {
  outline-color: rgb(109, 191, 254);
}

.comments {
  margin-top: 15pt;
}

#comment {
  margin-left: 0;
  margin-bottom: 5pt;
}

@media screen and (max-width: 700px) {
  .user_articles,
  .edit_article {
    width: 420px;
  }

  section {
    width: 420px;
  }

  button {
    margin: 20pt auto;
  }
}
